//COLORS
$color-primary: #72ddf7;
$color-primary-light: #D8F4FD;
$color-primary-dark: #0BA3D5;

$color-secondary-light: #ffb900;
$color-secondary-med: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-med: #5643fa;


$color-white: #fff;
$color-black: #000;
$color-dark-blue: #001B2F;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;


//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;
