.header {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        rgba($color-primary-light, 0.6), 
        rgba($color-primary-dark, .6s));
    // url(../img/chewy-GuCqQn8HQSI-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    
    
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}