.nav-main{
    width: 100vw;
    height: 7rem;
    background-color: $color-white;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    box-shadow: 0 .25rem .3rem rgb(233, 247, 255);

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        ul {
            list-style: none;
            margin-right: 5rem;
            
            li {
                display: inline-block;
                margin-left: 1rem;
            }
        }
    }

    


    &__logo {
        height: 5rem;
        margin: 0 1rem;
    }
}