.section-1{
    margin-top: 5rem;
}

.section-2{
    margin-top: 5rem;
    padding: 10rem;
    background-color: rgb(233, 247, 255);
}

.section-3 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section-4 {
    margin-top: 10rem;
}
.section-carousel {
    margin: 5rem 0;
    position: relative;
}

.section-5{
    margin-top: 5rem;
    margin-bottom: 5rem;

    img {
        width: 20rem;
    }
}

.section-6 {
    margin-bottom: 10rem;
}
